/* line 6, ../sass/theme.scss */
* {
  margin: 0;
  padding: 0;
  outline: 0;
}

/* line 12, ../sass/theme.scss */
html, body {
  min-height: 100%;
  height: 100%;
}

/* line 17, ../sass/theme.scss */
body {
  font: 14px/normal Helvetica, Arial, sans-serif;
}

/* line 21, ../sass/theme.scss */
h2 {
  font-family: Georgia;
  font-size: 21px;
  font-weight: lighter;
}

/* line 27, ../sass/theme.scss */
h3 {
  font-family: Georgia;
  font-size: 16px;
  font-weight: lighter;
  padding-bottom: 10px;
}

/* line 34, ../sass/theme.scss */
.code, .inline-code {
  font: 12px/14px monospace, sans-serif;
}

/* line 38, ../sass/theme.scss */
.code {
  clear: both;
  margin-right: 20px;
}

/* line 43, ../sass/theme.scss */
.inline-code {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #db0;
  display: inline-block;
  margin: 2px 0;
  padding: 2px 4px;
}

/* line 52, ../sass/theme.scss */
.examples {
  overflow: hidden;
  border-right: 1px solid #dddddd;
  margin-right: 30%;
  padding-right: 20px;
}

/* line 59, ../sass/theme.scss */
.example {
  padding: 20px 10px;
}

/* line 63, ../sass/theme.scss */
.result {
  display: inline-block;
  vertical-align: top;
}

/* line 68, ../sass/theme.scss */
.result-wrapper {
  float: left;
  padding: 0 20px 20px 0;
}

/* line 73, ../sass/theme.scss */
.gradient {
  border: 1px solid #ddd;
}

/* line 77, ../sass/theme.scss */
.description {
  padding: 10px 0;
}

/* line 81, ../sass/theme.scss */
.notes {
  background-color: lemonchiffon;
  border-left: 1px solid #dddddd;
  float: right;
  margin-left: -1px;
  min-height: 100%;
  padding: 10px 10px 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
}

/* line 94, ../sass/theme.scss */
.notes-header {
  padding-bottom: 10px;
}

/* line 98, ../sass/theme.scss */
.notes-list {
  font-size: 12px;
  list-style: inside;
}

/* line 103, ../sass/theme.scss */
.note {
  padding-bottom: 10px;
}
