@import "compass/css3";

$notes-width: 30%;
$separator-border: 1px solid #ddd;

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

html, body {
  min-height: 100%;
  height: 100%;
}

body {
  font: 14px/normal Helvetica, Arial, sans-serif;
}

h2 {
  font-family: Georgia;
  font-size: 21px;
  font-weight: lighter;
}

h3 {
  font-family: Georgia;
  font-size: 16px;
  font-weight: lighter;
  padding-bottom: 10px;
}

.code, .inline-code {
  font: 12px/14px monospace, sans-serif;
}

.code {
  clear: both;
  margin-right: 20px;
}

.inline-code {
  @include border-radius(2px);
  background-color: rgba(0,0,0,0.8);
  color: #db0;
  display: inline-block;
  margin: 2px 0;
  padding: 2px 4px;
}

.examples {
  overflow: hidden;
  border-right: $separator-border;
  margin-right: $notes-width;
  padding-right: 20px;
}

.example {
  padding: 20px 10px;
}

.result {
  display: inline-block;
  vertical-align: top;
}

.result-wrapper {
  float: left;
  padding: 0 20px 20px 0;
}

.gradient {
  border: 1px solid #ddd;
}

.description {
  padding: 10px 0;
}

.notes {
  background-color: lemonchiffon;
  border-left: $separator-border;
  float: right;
  margin-left: -1px;
  min-height: 100%;
  padding: 10px 10px 0;
  position: fixed;
  top: 0;
  right: 0;
  width: $notes-width;
}

.notes-header {
  padding-bottom: 10px;
}

.notes-list {
  font-size: 12px;
  list-style: inside;
}

.note {
  padding-bottom: 10px;
}

